/* body {
    margin: 0px;
    padding: 0px;
} */

.home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-top: 80px;
    width: 80vw;
    height: 50vh;
    background: lightblue;
    margin: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}